﻿@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

html {
    overflow-y: scroll;
}

body,
div,
dl,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

object,
embed {
    vertical-align: top;
}

hr,
legend {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
}

ul li {
    list-style-type: none;
}

a,
label {
    cursor: pointer;
}

img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}


/*-------------------------------------------------------
home_page
---------------------------------------------------------*/

.home_page {
    /*background-color: #f1f1f1;*/
    padding: 50px 80px;
    border-radius: 15px;
    min-height: 400px;
    font-size: 109%;
}

h2.tittle_home_page {
    text-align: center;
    font-size: 200%;
    color: #333;
    font-weight: bold;
    margin: 70px 0 8px 0;
}

span.tittle_home {
    color: #999;
    margin: 0 auto;
    display: table;
    text-align: center;
    padding: 0 30px;
}

.home_page .content {
    margin: 50px;
    color: #666;
}

.home_page .content>ol {
    margin: 0 0 20px 50px;
    list-style-type: circle;
}

.home_page .content>ol>li {
    margin-bottom: 5px;
}

.home_page .content>p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.3;
}


/*
.menu_right
-------------------------------------------------*/

.menu_right {
    margin: 84px 0 50px 0;
}

.menu_right ul .border_menu {
    text-align: left;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding-left: 32px !important;
    background: url(../img/ico-skype.png) no-repeat top 12px left 1px;
    background-size: 26px;
}

.menu_right ul li>p {
    font-size: 117%;
    margin: 0 0 8px 0;
    text-align: left;
    color: #2a6496;
}

.menu_right ul li>span {
    text-align: left;
    color: rgb(188, 188, 188);
}


/*----------------------------------------------------------
.contact_page
------------------------------------------------------------*/

.contact_page {
    /* background-color: #f1f1f1; */
    padding: 0;
    border-radius: 15px;
    min-height: 400px;
    font-size: 109%;
}

.contact_page .list_contact dd>span {
    display: block;
}

.contact_page .list_contact {
    margin: 0 0 50px 0;
}

.contact_page .list_contact dt {
    color: #000;
    font-weight: bold;
    font-size: 117%;
    margin-bottom: 10px;
}


/*-----------------------------------------------------------------
.schedule_page
-------------------------------------------------------------------*/

.schedule_page .content ol li {
    overflow: hidden;
    margin-bottom: 15px;
}

.schedule_page .content ol li a {
    color: #006497;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.schedule_page .content .list_carrier {
    margin: 10px 20px 20px 20px;
}

.schedule_page .content .list_schedule {
    width: 33%;
    float: left;
    overflow: hidden;
    padding-left: 10px;
}

.schedule_page .content .list_schedule>dt {
    color: #000;
    font-weight: bold;
}

@media screen and (max-width:991px) {
    .home_page {
        background-color: #f1f1f1;
        padding: 30px 15px;
        border-radius: 15px;
        min-height: 400px;
        font-size: 109%;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width:767px) {
    .home_page {
        background-color: #f1f1f1;
        padding: 50px 0px;
        border-radius: 15px;
        min-height: 400px;
        font-size: 109%;
    }
    .slider_header .content-txt {
        display: none;
        width: 35%;
        height: 114px;
        float: left;
        position: relative;
        margin-left: 247px;
        top: 3px;
        -webkit-animation: content-s 7.5s infinite;
        -moz-animation: content-s 7.5s infinite;
        animation: content-s 7.5s infinite;
    }
    .home_page .content {
        margin: 15px;
        color: #666;
    }
    .home_page span.title_home {
        color: #999;
        margin: 0 auto;
        display: table;
        text-align: center;
    }
}