/* Reset */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
* {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Reset */

a {
    text-decoration: none;
    color: inherit;
}


/* Body */

body {
    background: #fff;
}


/* Header */

header {
    width: 100%;
}
header h1.logo> a>img {
    position: absolute;
    z-index: 10;
    top: 9px;
    left: 30px;
}

/* Slider */

#slider {
    width: 100%;
    height: 114px;
    position: relative;
    overflow: hidden;
}

@keyframes load {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.slider_header .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite;
}

.slider_header .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slider_header .slide img {
    width: 100%;
    height: 100%;
}

.slider_header .slide img {
    width: 100%;
    height: 100%;
}

.slider_header .image {
    width: 100%;
    height: 100%;
}

.slider_header .image img {
    width: 100%;
    height: 100%;
}


/* Legend */

.slider_header .legend {
    border: 428px solid transparent;
    border-left: 896px solid rgba(200, 200, 200, .7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
}


/* Contents */

.slider_header .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.slider_header .content-txt {
    width: 35%;
    height: 114px;
    float: left;
    position: relative;
    margin-left: 150px;
    top: 3px;
    -webkit-animation: content-s 7.5s infinite;
    -moz-animation: content-s 7.5s infinite;
    animation: content-s 7.5s infinite;
}

.slider_header .content-txt h1 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 18px;
    font-weight: bold;
}

.slider_header .content-txt h2 {
    font-family: arial;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #333;
    text-align: left;
    margin-left: 30px;
    height: 60px;
    overflow: hidden;
}


/* Switch */

.slider_header .switch {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 5px;
    z-index: 99;
}

.slider_header .switch>ul {
    list-style: none;
}

.slider_header .switch>ul>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.slider_header .switch ul {
    overflow: hidden;
    margin: 0 auto;
    display: table;
}

.slider_header .on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f39c12;
    position: relative;
    -webkit-animation: on 30s infinite;
    -moz-animation: on 30s infinite;
    animation: on 30s infinite;
}


/* For example only */

.container.slider_codepen {
    width: 800px;
}

.slider_codepen .slider {
    margin: 30px 0;
}

.slider_codepen .slide img {
    border-radius: 100%;
    /*width: 70%;
    height: 70%;*/
    padding: 0 13px;
}

.slider_codepen .slick-prev,
.slider_codepen .slick-next {
    position: absolute;
    display: block;
    width: 50px;
    height: 60px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    padding: 0;
    top: calc(50% - 60px / 2);
}

.slider_codepen .slick-prev {
    left: -18px;
    background: url(http://image.flaticon.com/icons/svg/126/126492.svg) no-repeat;
    background-size: 15px 60px;
}

.slider_codepen .slick-next {
    right: -50px;
    background: url(http://image.flaticon.com/icons/svg/126/126490.svg) no-repeat;
    background-size: 15px 60px;
}


/*menu*/

.menu_codepen .menu {
    display: block;
    position: relative;
    cursor: pointer;
}

.menu_codepen .menu-title {
    display: block;
    width: 200px;
    height: 40px;
    padding: 12px 0 0;
    background: #9dc852;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

.menu_codepen .menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu_codepen .menu-title:hover,
.menu_codepen .menu-title.active {
    background: #8db842;
}

.menu_codepen .menu-title:hover:before,
.menu_codepen .menu-title.active:before {
    border-top-color: #8db842;
}

.menu_codepen .menu:hover>.menu-title:before,
.menu_codepen .menu.active>.menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu_codepen .menu-title:after,
.menu_codepen .active:after {
    content: "";
    display: block;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 0 solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

{
    content: "";
    display: block;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 0 solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

.menu_codepen .menu:hover>.menu-title:after,
.menu_codepen .menu.active>.menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu_codepen .menu-title_2nd {
    background: #4e96b3;
}

.menu_codepen .menu-title_2nd:hover,
.menu_codepen .menu-title_2nd:hover {
    background: #3e86a3;
}

.menu_codepen .menu-title_2nd:before {
    border-top-color: #4e96b3;
}

.menu_codepen .menu-title_2nd:hover:before,
.menu_codepen .menu-title_2nd.active:before {
    border-top-color: #000;
}

.menu_codepen .menu-title_3rd {
    background: #c97676;
}

.menu_codepen .menu-title_3rd:hover,
.menu_codepen .menu-title_3rd.active {
    background: #b96666;
}

.menu_codepen .menu-title_3rd:before {
    border-top-color: #c97676;
}

.menu_codepen .menu-title_3rd:hover:before,
.menu_codepen .menu-title_3rd.active:before {
    border-top-color: #b96666;
}

.menu_codepen .menu-title_4th {
    background: #dbab58;
}

.menu_codepen .menu-title_4th:hover,
.menu_codepen .menu-title_4th.active {
    background: #cb9b48;
}

.menu_codepen .menu-title_4th:before {
    border-top-color: #dbab58;
}

.menu_codepen .menu-title_4th:hover:before,
.menu_codepen .menu-title_4th.active:before {
    border-top-color: #cb9b48;
}

.menu_codepen .menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}

.menu_codepen .menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu_codepen .menu:not(:hover)>.menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu_codepen .menu:not(:hover)>.menu-dropdown:after {
    border-top-color: #000;
}

.menu_codepen .menu:not(:hover)>.menu-title:after {
    border-bottom-color: #000;
}

.menu_codepen .menu-dropdown>* {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: transparent;
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu_codepen .menu-dropdown>*:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu_codepen .menu:not(:hover)>.menu-dropdown>* {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}

.menu_codepen .hList>* {
    float: left;
}

.menu_codepen .hList>*+* {
    margin-left: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-top: 5px solid #333;
}

.menu_codepen .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}

.menu_codepen .nav>li>a {
    position: relative;
    display: block;
    padding: 0;
}

.menu_codepen .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
}

.menu_codepen .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: transparent;
}


/* Animation */


/*---------------------------------------------------------------
.footer
-----------------------------------------------------------------*/

footer {
    background: #333;
    min-height: 200px;
    padding: 30px !important
}

footer .address_footer {
    color: #999;
    font-size: 95%;
    line-height: 1.4;
}

h3.title_footer {
    text-align: center;
    margin: 30px;
    font-size: 117%;
    color: #999;
}

.text_footer {
    color: #999;
    font-size: 95%;
    line-height: 1.4;
    text-align: center;
}

@-webkit-keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@keyframes slide {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    46% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    71% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    96% {
        margin-left: -300%;
    }
}

@-webkit-keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@-moz-keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 20px;
    }
    15% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -420px;
    }
    90% {
        left: -420px;
    }
    100% {
        left: -420px;
    }
}

@-webkit-keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}

@-moz-keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}

@keyframes on {
    0%,
    100% {
        margin-left: 0%;
    }
    21% {
        margin-left: 0%;
    }
    25% {
        margin-left: 15px;
    }
    46% {
        margin-left: 15px;
    }
    50% {
        margin-left: 30px;
    }
    71% {
        margin-left: 30px;
    }
    75% {
        margin-left: 45px;
    }
    96% {
        margin-left: 45px;
    }
}

@media screen and (max-width:991px) {
    .slider_codepen .slider {
        margin: 30px 0;
    }
    .hList li {
        width: 100%
    }
    .hList .menu-title {
        width: 100%;
    }
    .menu_codepen .hList>* {
        float: left;
        width: 100%;
    }
    .menu_codepen .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        width: 100% !important;
    }
    .slider_codepen .slide img {
        border-radius: 100%;
        width: none;
        height: none;
    }
    .slider_codepen .slick-prev {
        left: -70px;
        background: transparent;
        background-size: 15px 60px;
        display: none;
    }
    .slider_codepen .slick-next {
        right: -70px;
        background: transparent;
        background-size: 15px 60px;
        display: none;
    }
    .container.slider_codepen {
        width: 100%;
    }
    .menu_codepen .menu-title:before {
        content: "";
        display: block;
        height: 0;
        border-top: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 101;
        transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
    }
    .menu_codepen .menu-title:after {
        content: "";
        display: block;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 101;
        transition: 0.2s border-bottom ease-in;
    }
}

@media screen and (max-width:767px) {
    body {
        overflow: hidden;
    }
    .menu_codepen .menu-title {
        display: block;
        width: 100%;
        height: 40px;
        padding: 12px 0 0;
        background: #9dc852;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.3s background-color;
    }
    .menu_codepen .menu-dropdown:after {
        display: none;
    }
    .slider_codepen .slick-prev {
        left: 38px;
        background: url(http://image.flaticon.com/icons/svg/126/126492.svg) no-repeat;
        background-size: 15px 60px;
    }
    .slider_codepen .slick-next {
        right: 10px;
        background: url(http://image.flaticon.com/icons/svg/126/126490.svg) no-repeat;
        background-size: 15px 60px;
    }
    .slider_codepen .slide img {
        border-radius: 100%;
        padding: 0 86px;
    }
}


/* main */